.idea/*
dir/*
__pycache__/*
token.json
.env
credentials.json
services/__pycache__/*
utils/__pycache__/*
client/node_modules/*
client/build/*
client/yarn-error.log
client/yarn.lock
client.zip
GLZScraper.zip
client/src/static/test.mp3
